

.form-input-and-button-container {
  margin-top: 2rem;
  background-color: white;
  border-radius: 5rem;
}

.main-label {
  font-size: 4rem;
  text-align: center;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
}

.main-form-description {
  max-width: 60%;
  font-family: "ubuntu", sans-serif;
  font-size: 2.25rem;
  text-align: center;
}
.main-input {
  outline: none;
  font-size: 29px;

  background: white;
  font-family: "ubuntu", sans-serif;
}

.main-input::placeholder {
  color: #4a4949;
}

.main-button {
  background-color: white;
  font-size: 29px;
  width: 120px;
}

@media (max-width: 575px) {
  .main-form{
    margin-top: 1rem;
  }
  .main-form-description{
    font-size: 1.25rem;
  }
  .main-label{
    font-size: 3rem;
  }

}
