.Search {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./Assets/Images/main-background.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}


.parks-list{
  max-width: 100%;
  background-color: #2d2e2c;
  margin: 10rem 0 10rem 0;

}