
.homePageDirections {
  background-color: rgb(235, 222, 202);
}


.homePageDirectionsText {
  background-color: rgba(160, 88, 43, 0.95);
}



@media (max-width: 575px) {
  .homeDirectionsImg{
    width: 100%;
  }
}
