.main-video {
  height: 90rem;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  margin-top: -25rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 65rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.MainPageBackground-text {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translatex(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.find {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  font-family: "ubuntu", sans-serif;
}

.here {
  color: white;
  font-size: 5rem;
  width: 20rem;
  text-align: center;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
}

@media (max-width: 575px) {
  .MainPageBackground-text {
    top: 35%;
    line-height: 4rem;
  }
}
