.HomePageDescription {
  padding: 10rem 5rem 10rem 5rem;
  font-size: 2.5rem;
  background-color: rgb(116, 105, 89);
}

@media (max-width: 575px) {
  .HomePageDescription {
    font-size: 1.5rem;
    padding: 5rem 2.5rem 5rem 2.5rem;
  }
}
