.Park {
  max-width: 40rem;

  background-color: white;

  transition: transform 0.2s;
}

.Park:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.park-info-container {
  position: relative;
}

.park-image {
  height: 25rem;

  width: 100%;
}

.park-title {
  color: #283124;
  font-size: 1.3rem;
}

.description-title, .park-description {
  font-family: "ubuntu", sans-serif;
}


.favoriteButton {
  position: absolute;
  left: 92%;
}

.park-button {
  border: solid black 3px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 575px) {
  .park-description,
  .description-title {
    display: none;
  }
  .park-image {
    height: 12rem;
    width: 100%;
  }

  .park-button {
    margin-top: 0;
  }

  .park-address {
    margin: 1rem 0 1rem 0;
  }
}
