
.description-title,
.park-description {
  font-family: "ubuntu", sans-serif;
}


@media (max-width: 575px) {


  .park-description,
  .description-title {
    display: none;
  }
  .park-image {
    height: 12rem;
    width: 100%;
  }

  .park-button {
    margin-top: 0;
  }

  .park-address {
    margin: 1rem 0 1rem 0;
  }
}
